
#header{
 
    display: block;
   
   }
   
   img {
       width: 100%;
   
       
   }
   body {
       margin: 0;
       font-family: Arial,Verdana,sans-serif;
       padding: 0;
   }
   
   .menu {
       font-family: Arial,Verdana,sans-serif;
       width: 100%;
       background-color: #00AA6d; 
       height: 64px; 
       display: inline-block;
   }
   
   .menu > ul {
       margin: 0;
       list-style: none;
       padding: 0;
       display: flex;
       justify-content: center;
       
   }
   
   .menu li {
       display:  flex;
       border-right-width: thin;
       border-right-style: ridge;
       border-right-color: rgb(248, 243, 243,0.4);
       height: 45px;
       padding: 11px 27.6px;
       margin: 10px 0px;
       white-space: nowrap;
       text-overflow: ellipsis;
   }
   
   
   .menu li:last-child {
       border-right: 0;
       
       
       
   }
   
   
   .menu li:hover {
       display: flex;
       background: lightgreen;
       height: 64px;
       padding: 21px 29.6px;
       margin: 0px -2px;
       cursor: pointer;
       transition: all 0.1s;
       
       
   }
   
   .menu  li > a {
       margin: 0;
       display: block;
       color: white;
       text-decoration: none;
       font-size: 15px;
       overflow: visible; 
       
       
   }
   
   /* @media (max-width:) 
       
   } */
   
   
   
   @media (max-width:1460px) {
       img{
           display: block;
           width: 100%;
           height: 150px;
       }
   
       .menu li a{
           
           white-space: nowrap;
           text-overflow: ellipsis;
            
       }
   
       @media (max-width:903.20px){
           .menu li {
               overflow: hidden; 
               text-overflow: ellipsis;
           }
       }
   
       
       
       @media (max-width:826.4px){
           img{
               display: flex;
               width: 809px;
               height: 150px;
           }
   
           .menu{
               display: block;
               width: 809px;
               white-space: nowrap;
               
           }
   
           .menu li{
               overflow: hidden; 
               text-overflow: ellipsis;
               /* padding: 11px 22px;
               margin: 10px -3px; */
               
           }
       }
       
   }
   
   