#footer {
    padding: 3px 10px;
    clear: both;
    text-align: center;
    background-color: #eaeaeb;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    height: 70.25px;
}

#footer p {
    font-size: 1em;
    margin-bottom: 0.8em;
    height: 16px;
}

.contenedorCorreo {
    background: #00AA6D;
    text-align: center;
    color: #fff;
    padding: 5px;
    font-size: 16.32px;
}

.contenedorCorreo a {
    color: #eee;
    text-decoration: none;
    background-color: transparent;
}

.contenedorCorreo a:hover {
    text-decoration: underline;
}

.contenedorCorreo p {
    font-size: 1em;
    line-height: 1;
    margin: 0;
    padding: 0;
}
    
