<div id="footer">
    <p>Vicerrectoría de Docencia </p>
    <p>
        Calle 67 #53-108 - Bloque 16, oficina 332 Medellín (Antioquia) -
        Colombia
      </p>
  </div>
  <div class="contenedorCorreo">
    Dudas o inconvenientes, comuníquese con:
    <a href="mailto:concursoprofesoral@udea.edu.co"
      >concursoprofesoral@udea.edu.co</a
    >
  </div>