.example-accordion {
  display: block;
  border: solid #ccc 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#content {

  padding: 34.5px 81.5px 80px ;
  font-family: Arial,Verdana,sans-serif;
  
}

.example-accordion-title{
  display: flex;
  background: linear-gradient(90deg, #87E493 36%, #B7E2A2 60%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.example-accordion-title h2{
  padding: 5.5px 0px 4.5px 15.5px;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  justify-content: space-between;
  align-content: center;
  line-height: 1.4;
}



.example-accordion-item {
  display: block;
  
}

.example-accordion-item + .example-accordion-item { 
  display: block;
  
  
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  
}



.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
  height: 25px;
}


.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
  

}

.example-accordion-item-header figure img{
  opacity: 0;
}


.example-accordion-item-header:hover {
  cursor: pointer;
  background-color: #F3F8E7;
  font-weight: bold;
  transition: 0.5s;
  
}

.example-accordion-item-header:hover figure img {
  opacity: 1;
}

.textoaccordion {
  list-style: none;
  padding: 0;
  margin: 0;
}

.textoaccordion li a {
  color: #00AA6D;
  text-decoration: none;
  font-size: 1rem;
}

.textoaccordion li a:hover {
  text-decoration: underline;
}

.textoaccordion li p {
  font-size: 0.85rem;
  
}

.listadentrotextoacordion {
  list-style: none;
  

}

.listadentrotextoacordion li {
  display: flex;
  
}

.listadentrotextoacordion p {
  padding: 3px;
  margin: 0px;
}

.especial {
  margin: 0px;
}

@media (max-width:1460px) {
  #content {
      display: block;
      width: 100%;
      
  }

  
  
  
  @media (max-width:826.4px){
      #content{
          
          width: 809px;
          
      }

      
  }
  
}